/* :root{
    --primary: #00897b;
    --primary-hover: #28b0a2;
    --primary-focus: rgba(0, 137, 123, .25);
    --primary-inverse: #FFF
} */

 #app {
    margin-top: 100px;
    margin-bottom: 100px;
    text-align: center;
 }
 
 .portfolio-links {
    display: flex;
    gap: 1rem;
    justify-content: center;
    margin-top: 1rem;
}

.skill-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    margin-block: .5rem;
    justify-content: center;
}

.skills{
    border-radius: 15px;
    background: rgba(125, 145, 133, 0.2);
    padding: 0 1rem;
    font-size: 14px;
    border: .5px solid #000000;
}

.skill-icon {
    width: 25px;
    height: auto;
}

.navbar {
    position: fixed;
    bottom: 3rem;
    align-items: center;
    justify-content: center;
    background: rgba(151, 151, 151, 0.5);
    backdrop-filter: blur(10px);
    border-radius: 50px;
    border-right: 10px;
    transform: translateX(-50%);
    left: 50%;
    padding-left: 1.5em;
    padding-right: 1.5em;
}

.outer-article {
    align-items: center;
    justify-content: center;
    margin: 5%;
    border-radius: 20px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.outer-article-dark {
    background: rgba(117, 230, 219, 0.277);
    /* background: rgba(24, 123, 75, 0.212); */
}
.outer-article-light {
    background: rgba(152, 215, 194, 0.31);
    /* background: rgba(10, 83, 48, 0.212); */
}

.inner-article {
    border-radius: 20px;
    /* background: rgba(56, 157, 118, 0.328); */
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.article-header {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    font-size: 20px;
    font-weight: bold;
}
.article-header-dark{
    background: rgba(78, 166, 132, 0.453);
}
.article-header-light{
    background: rgba(112, 206, 145, 0.123);
}

.experience-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: space-evenly;
    align-items: center;
}

.contact-button {
   width: 165px;
   --primary: #1078a4;
   --primary-hover: #189AB4;
}

.contact-name {
    font-size: 20px;
    font-weight: bold;
    margin: 20px;
}

.contact-icon {
    width: 40px;
    height: auto;
}

.header-buttons {
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.header-button {
    width: 125px;
    margin-bottom: 40px;
}

.button-dark {
    --primary: #0288c2;
    --primary-hover: #1883b4;
}
.button-light {
    --primary: #068b9c;
    --primary-hover: #13a3c7;
    
}

.header-icons {
    display: flex;
    justify-content: center;
    gap: 3rem;
}
.header-icons-dark{
    --primary: #0288c2;
    --primary-hover: #1883b4;
}
.header-icons-light{
    --primary: #068b9c;
    --primary-hover: #13a3c7;

}
.header-icon {
    width: 30px;
    height: auto;
    display: flex;
}

#home {
    justify-content: center;
    margin-bottom: 40px;
}

@media only screen and (max-width: 500px) {
    #app{
        margin: .5em;
    }
}